{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">1
</head>
<body>
    
    <div class="header">
        <h1>Kunal Shaw</h1>
        <p>AI enthusiast</p>
        <a target="_blank" href="https://www.linkedin.com/in/kunal-shaw-6711b1226/"><img  class='contact_icon' src="{% static 'linkedIn.png' %} "></a>
        <a target="_blank" href="https://github.com/Kunal-Shaw-097"><img class='contact_icon' src="{% static 'github.png' %} "></a>
    </div>

    
    <!-- <div class="navigation">
        <a href="#Skills">Home</a> |
        <a href="#about">About</a> |
        <a href="#projects">Projects</a> |
    </div> -->
    <div class="content">

        <section id="about">
            <h2>About Me</h2>
            <p>I am a second year student at Manipal University Jaipur, I am currently enrolled in a distance learning (online) Bachelor's of Computer Applications program.</p>
        </section>

        <section id="Skills">
            <h2>Skills</h2>
            <p>Languages</p>
                <ul>
                <li>Python - Advanced
                    <ul>
                        <li>PyTorch</li>
                        <li>Tensorflow</li>
                        <li>OpenCV</li>
                        <li>Numpy</li>
                        <li>HuggingFace Transformers</li>
                        <li>Django</li>
                    </ul>
                </li>
                <li>C++ - Basic</li>
                </ul>  
            <p>Databases</p> 
            <ul>
                <li>MongoDB</li>
                <li>SQLite</li>
            </ul>
        </section>

        <section id="projects">
            <h2>Projects</h2>
            <p>Some of my Personal Projects -</p>
            <ul id="projectlist">
                <li><a href="/ImgCap">Image Captioning :</a> <p> I created a Image captioning model from scratch using PyTorch, implemented a custom text tokenizer without using any external libraries.
                    Collected Image captioning dataset from various online sources, also did some data annotation myself.
                </p></li>
                <li><a href="/PdfQA">PDF Q&A :</a> <p> Input a pdf and ask question about anything inside it. The projects demonstrate Retrieval Augmented Generation with the help of a 1.1B llm model and MongoDB atlas's VectorDB.
                </p></li>
            </ul>
        </section>

    </div>

    <div class="footer">
        <p>Copyright &copy; 2024 Kunal Shaw</p>
    </div>

</body>
</html>