{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    
    <div class="header">
        <h1>My Portfolio</h1>
    </div>
    
    <div class="navigation">
        <!-- Navigation Links -->
        <a href="#home">Home</a> |
        <a href="#about">About</a> |
        <a href="#projects">Projects</a> |
        <a href="#contact">Contact</a>
    </div>

    <div class="content">
        <!-- Home Section -->
        <section id="home">
            <h2>Welcome to My Portfolio</h2>
            <p>Hello, I am a passionate AI enthusiast.</p>
        </section>

        <!-- About Section -->
        <section id="about">
            <h2>About Me</h2>
            <p>I am a second year student at Manipal University Jaipur, I am currently enrolled in a distance learning (online) Bachelor's of Computer Applications program.
            </p>
        </section>

        <!-- Projects Section -->
        <section id="projects">
            <h2>Projects</h2>
            <p>Some of my Personal Projects -</p>
            <ul id="projectlist">
                <li><a href="/ImgCap">Image Captioning :</a> <p> I created a Image captioning model from scratch using PyTorch, implemented a custom text tokenizer without using any external libraries.
                    Collected Image captioning dataset from various online sources, also did some data annotation myself.
                </p></li>
                <li><a href="/PdfQA">PDF Q&A :</a> <p> Input a pdf and ask question about anything inside it. The projects demonstrate Retrieval Augmented Generation with the help of a 1.1B llm model and MongoDB atlas's VectorDB.
                </p></li>
            </ul>
        </section>

        <!-- Contact Section -->
        <section id="contact">
            <h2>Contact Me</h2>
            <p>Details on how to contact you - email, phone, social media links, etc.</p>
        </section>
    </div>

    <div class="footer">
        <p>Copyright &copy; 2024 Kunal Shaw</p>
    </div>

</body>
</html>