/* Add your CSS styling here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #6b6969;
}
.header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}
.content {
    padding: 20px;
}
.footer {
    background: #202020;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#home, #about, #projects, #contact{
    list-style-position: inside
}

#projectlist{
    display: inline-block;
    text-align: left;
}

.contact_icon{
    height: 36px;
    width: 46px;
}