{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/styles1.css' %}">
        <script src="{% static 'javascript/SimpleImage.js' %}"></script>
        <script src="{% static 'javascript/scp.js' %}"></script>  
    </head>
    <body>
        <form action="{% url 'portfolio:index' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <button id = "back_button" type="submit">Back</button>
        </form>
        <h1>Image Caption Generator</h1>
        <div id="top">
            <div id="canvas">
                <canvas id="canv1"></canvas>
            </div>
            <form method="POST" enctype="multipart/form-data" action="{% url 'ProjImgCap:GenerateCaption' %}">
                {% csrf_token %}
                ImageName:
                <input type="file" name="image" multiple="false" accept="image/*" id=finput onchange=display()>
                <input type="submit" value="Generate">
            </form>
        </div>
        <div id="bottom">
            <h2>Generated Caption :</h2>
            <div id="txt_box">
                {% if caption %}
                {{caption}}
                {% endif %}
            </div>
        </div>
    </body>
</html>




